/* HTMLファイル内のid="editor"要素に対して、以下のスタイルを適用する */
#editor {
  /* 入力欄のフォントサイズを指定します */
  font-size: 150%;
  /* 入力文字を太字にしています */
  font-weight: bold;
}

/* HTMLファイル内のid="pallet"要素に対して、以下のスタイルを適用する */
#pallet {
  /* パレットのフォントサイズを指定します */
  font-size: 150%;
  /* 入力文字を太字にしています */
  font-weight: bold;
}
